body{
    background-color:yellowgreen;
    color:#222;
    text-align: center;
}
h1{
    color:#222;
}
label{
    font-size: 40px;
}
input[type="text"]
{
    margin-top: 10px;
    background-color: white;
    color:#222;
    font-size: 32px;
    margin:10px;
    border:4px solid black;
    padding:10px;
    
}
button{
    padding:20px 10px;
    font-size: 30px;
    border:4px solid black;
    color:#222;
    margin-top: 10px;
}
button:hover{
   background-color: burlywood;
}
#result{
    margin-top: 10px;
    color:#222;
    font-size: 40px;
}
#main{
    
    height:60vh;
    width:500px;
    border:2px solid black;
    margin-left:32%;
    padding:30px;
   
}
